<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% block head %}
            <title>{% block title %}some title{% endblock %}</title>
            <script src="{{url_for('static',filename='js/lib/jquery-1.11.3.js')}}">
            </script>
            <script src="{{url_for('static',filename='js/lib/bootstrap.js')}}">
            </script>
            <link rel="stylesheet" href="{{url_for('static',filename='css/lib/bootstrap.css')}}">
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
