<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% macro logout() %}
            <span class="pull-right">
                <a class="btn btn-default btn-xs" href="{{url_for('logout')}}">Logout</a>
            </span>
        {% endmacro %}
        {% block head %}
            <title>{% block title %}{% endblock %}- Jaot</title>
            <script src="{{url_for('static',filename='js/lib/jquery-1.11.3.js')}}">
            </script>
            <script src="{{url_for('static',filename='js/lib/bootstrap.js')}}">
            </script>

            <link rel="stylesheet" href="{{url_for('static',filename='css/lib/bootstrap.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='css/lib/font-awesome/css/font-awesome.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='css/lib/bootstrap-social.css')}}">
            <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        {% endblock %}
    </head>
    <body>
        <header class="container">
            {% if current_user.is_authenticated() %}
                <span class="pull-right">
                    {{current_user.email}}, {{current_user.type}}
                    <a class="btn btn-default btn-xs" href="{{url_for('logout')}}">Logout</a>
                </span>
            {% endif %}
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                 <div class="flashes">
                {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            {% block header %}
            {% endblock %}
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
