{% extends "base.html" %}
{% block content %}
    <form action="#" method="POST">
        <div class="form-group">
        <h1>Edit user {{user.id}}</h1>
        {{form.csrf_token}}
        {{form.id.label}}:
        {{form.id(class="form-control", disabled="True")}}
        {{form.email.label}}:
        {{form.email(class="form-control", disabled="True")}}
        {{form.type.label}}:
        {{form.type(class="form-control")}}
        {% for course in courses %}
            <div class="checkbox">
            <label>
            <input type="checkbox" name="{{course.id}}" {% if course in user.courses %} checked {%endif%}>{{course.name}}
            </label>
            </div>
        {% endfor %}
        </div>
        <a class="btn btn-default" href="{{url_for('showUsers')}}">Cancel</a>
        <button type="submit" class="btn btn-warning">Edit</button>
    </form>
{% endblock %}
