{% extends "base.html" %}
{% block title %}Create a new course{% endblock %}
{% block content %}
    <h1>Create a new course</h1>
    <form method="POST" action="#">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}:
            {{ form.name(class="form-control") }}
        </div>
        <a href="{{url_for('showAllCourses')}}" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}
