{% extends "base.html" %}
{% block content %}
    <h1>{% block page_title %}New Problem Set{% endblock %}</h1>
    <form method="POST" action="#">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != "CSRFTokenField" %}
                <div class="form-group">
                    {{field.label}}:
                    {{field(class="form-control")}}
                </div>
            {% endif %}
        {% endfor %}
        <a href="{% block cancel_link %}{{url_for('showCourse',course_id=course.id)}}{% endblock %}" class="btn
        btn-default">Cancel</a>
        {% block main_button %}<button type="submit" class="btn btn-primary">Create</button>{% endblock %}
    </form>
{% endblock %}
    
    
