{% extends "base.html" %}
{% block head %}
{{ super() }}
<script>
    var qCounter = 1;
    var rCounter = 0;
    $(document).ready(function(){
       var requirementBlock = "\
            <div class='requirementblock row' id='requirement%id%'>\
                <div class='col-xs-4'>\
                    <input placeholder='Condition%id%' class='form-control' type='text' name='condition%id%'>\
                </div>\
                <div class='col-xs-4'>\
                    <input placeholder='Comment for %id%'  class='form-control' type='text' name='comment%id%'>\
                </div>\
            </div>\
        ";
        $("#addRequirementBtn").on('click',function(){
            var newRequirement = requirementBlock;
            $("#counter").val(qCounter);
            newRequirement = newRequirement.replace(/%id%/g,qCounter++);
            $("#requirements").append(newRequirement);
        });
    });
</script>
{% endblock %}
{% block content %}
    <h1>Make a new problem for {{pset.title}}</h1>
    <form method="POST" action="#">
        <input type="hidden" name="counter" id="counter" value="0">
        <div class="form-group">
            <label for="text">Problem text:</label>
            <textarea name="text" class="form-control" rows=10>{% block problemtext %}{% endblock %}</textarea>
        </div>
            <div id='requirements'>
            </div>
        <button type="button" class="btn btn-default" id="addRequirementBtn">Add a requirement</button>
        <button type="submit" class="btn btn-primary">{% block button %}Create{% endblock %}</button>
    </form>
{% endblock %}
