{% extends "base.html" %}
{% block head %}
{{ super() }}
<script>
    var qCounter = 1;
    var rCounter = 0;
    $(document).ready(function(){
       var questionBlock = "\
            <div class='row'>\
                <div class='questionblock col-md-3' id='question%id%'>\
                    <h2>Question %id%</h2>\
                    <div class='form-group'>\
                        <label for='name%id%'>Name:</label>\
                        <input class='form-control' type='text' name='name%id%'>\
                    </div>\
                    <div class='form-group'>\
                        <label for='type%id%'>Type:</label>\
                        <input  class='form-control' type='text' name='type%id%'>\
                    </div>\
                    <button type='button' id='addReq%id%' class='btn btn-default btn-xs'>Add requirement</button>\
                </div>\
            </div>\
        ";
        var requirementBlock = "\
            <div class='requirementblock col-md-2' id='q%id%r%rid%'>\
                <h3>Requirement %rid%</h3>\
                <div class='form-group'>\
                    <label for='rtype%rid%'>Type:</label>\
                    <input type='text' name='rtype%rid%' class='form-control'>\
                </div>\
                <div class='form-group'>\
                    <label for='value%rid%'>Value:</label>\
                    <input type='text' name='value%rid%' class='form-control'>\
                </div>\
            </div>\
            ";
        $("#addQuestionBtn").on('click',function(){
            var newQuestion = questionBlock;
            $("#counter").val(qCounter);
            newQuestion = newQuestion.replace(/%id%/g,qCounter);
            $("#questions").prepend(newQuestion);
            $("#addReq"+qCounter.toString()).on('click',function(){
                var newReq = requirementBlock;
                newReq = newReq.replace(/%rid%/g,rCounter++);
                $("#question"+qCounter.toString()).after(newReq);
            });
            qCounter++;
        });
    });
</script>
{% endblock %}
{% block content %}
    <h1>Make a new problem for {{pset.title}}</h1>
    <form method="POST" action="#">
        <input type="hidden" name="counter" id="counter" value="0">
        <div class="form-group">
            <label for="text">Problem text:</label>
            <textarea name="text" class="form-control" rows=10>
            </textarea>
        </div>
            <div id='questions' class="row">
                <button type="button" class="btn btn-default" id="addQuestionBtn">Add a question</button>
            </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}
