{% extends "base.html" %}
{% block content %}
    <h1> Problem #{{problem.id}} </h1>
    <a href="{{url_for('editProblem',course_id=course.id,pset_id=pset.id,problem_id=problem.id)}}" 
        class="btn btn-warning btn-xs">Edit</a>
    <a href="{{url_for('deleteProblem',course_id=course.id,pset_id=pset.id,problem_id=problem.id)}}"
        class="btn btn-warning btn-xs">Delete</a><br>
    <br>
    <form>
        <div class="">
            {{problem.text|safe}}
        </div>
        <button type="submit" class="btn btn-primary">Check</button>
    </form>
{% endblock %}
        
